*.dll
*.exe
*.pdb
*.pdf
*.graphml
*.csv
*.java
*.jar
*.mdb
*.cache
*.user
src/HaploGrepSharp/obj/*
src/HaploGrepSharp/bin/*
src/MitoDataAssembler/obj/*
src/MT_Assembler_Test/obj/*
src/MitoDataAssembler/bin/*
src/GetMTDataFromBAM/obj/*
src/HaploGrepSharp/obj/*
src/bio/Source/Framework/Add-ins/Bio.Padena/obj/*
src/bio/obj/*
TemporaryGeneratedFile*
*.class
MitoDataAssembler/bin/Debug/*
MitoDataAssembler/bin/Release/*
lib\*.xml
*/obj/*
*/bin/*
*.xml
*.gif
