*.dll
*.exe
*.pdb
*.pdf
*.graphml
*.csv
*.java
*.jar
*.mdb
*.cache
*.user
*.userprefs
*.class
*.xml
*.gif
*.vspscc
src/HaploGrepSharp/obj/Debug/HaploGrepSharp.Properties.Resources.resources
src/HaploGrepSharp/obj/Debug/HaploGrepSharp.csproj.FilesWrittenAbsolute.txt
src/MitoDataAssembler/obj/Debug/MitoDataAssembler.csproj.FilesWrittenAbsolute.txt
src/bio/Source/Framework/Add-ins/Bio.Padena/obj/Debug/Bio.Algorithms.Assembly.Padena.Properties.Resource.resources
src/bio/Source/Framework/Add-ins/Bio.Padena/obj/Debug/Bio.Padena.csproj.FilesWrittenAbsolute.txt
src/HaploGrepSharp/obj/*
src/HaploGrepSharp/bin/*
src/MitoDataAssembler/obj/*
src/MT_Assembler_Test/obj/*
src/MitoDataAssembler/bin/*
src/GetMTDataFromBAM/obj/*
src/HaploGrepSharp/obj/*
src/bio/Source/Framework/Add-ins/Bio.Padena/obj/*
src/bio/obj/*
TemporaryGeneratedFile*
MitoDataAssembler/bin/Debug/*
MitoDataAssembler/bin/Release/*
lib/*.xml
*/obj/*
*/bin/*
src/TestAssembler/obj/
src/GetMTDataFromBAM/MitoMono.suo
src/GetMTDataFromBAM/MitoMono.v11.suo
src/MTAssembler.v11.suo
src/SimulateMitochondrialData/SimulateMitochondrialData.v11.suo
src/SimulateMitochondrialData/bin/
src/SimulateMitochondrialData/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs
src/SimulateMitochondrialData/obj/Debug/SimulateMitochondrialData.csproj.FilesWrittenAbsolute.txt
