*.dll
*.exe
*.pdb
*.pdf
*.graphml
*.csv
*.java
*.jar
*.mdb
src/HaploGrepSharp/obj/*
src/bio/Source/Framework/Add-ins/Bio.Padena/obj/*
src/bio/obj/*
TemporaryGeneratedFile*
*.class
MitoDataAssembler/bin/Debug/*
MitoDataAssembler/bin/Release/*
lib\*.xml
*/obj/*
*/bin/*
*.xml
*.gif
